.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 20px;
  justify-content: center;
  padding-bottom: 2rem;
}

.card {
  width: 220px;
  height: 280px;
  perspective: 1000px; /* لإنشاء تأثير ثلاثي الأبعاد */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* للحفاظ على تأثير ثلاثي الأبعاد */
  transition: transform 0.6s ease-in-out; /* تأثير الحركة */
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* يدور الكارت 180 درجة */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* إخفاء الجهة الخلفية عند الدوران */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}
.card-back h4{
  font-size: 22px;
  text-align: center;
}

.card-back p{
  font-size: 16px;
  text-align: center;
}

.card-front {
  background: #fff;
}

.card-back {
  background: #333;
  color: #fff;
  transform: rotateY(180deg); /* الجهة الخلفية تبدأ مقلوبة */
}
.cartt{
  margin-left: auto;
  margin-right: auto;
  text-align: center  ; 
  background: linear-gradient(to right, rgb(47, 47, 172), rgb(225, 115, 225));
  padding-bottom: 15px;
}

.creative-btn,
.add-to-cart {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.creative-btn:hover,
.add-to-cart:hover {
  background: linear-gradient(to left, #6a11cb, #2575fc);  /* تدرج لوني من اليمين لليسار */
  transform: translateY(-3px);  /* رفع العنصر 3 بكسل للأعلى */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);  /* إضافة ظل */
}

.creative-btn:active,
.add-to-cart:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.delete-btn{
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
#cart-items li{
  margin-bottom: 1rem;
}

#search-input{
  background-color: white;
  border-radius: 15px;
  color: black;
}
.navbar .btn-outline-success {
  border-radius: 15px;
}
.navbar .btn-outline-success {
  border-radius: 15px;
}


#cart-dropdown {
  position: absolute;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  width: 200px;
  padding: 10px;
  list-style-type: none;
}

#cart-dropdown li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  color: black;
}

#cart-dropdown li:last-child {
  border-bottom: none;
}

#cart-dropdown li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px;
}
